<template>
    <div>
        <q-toolbar class="bg-primary text-white">
            <q-toolbar-title>
                TheWho / TheWhottery
            </q-toolbar-title>

            <q-tabs
                v-model="tab"
                shrink
                style="margin-right: 10px;"
            >
                <q-route-tab
                    name="lottery"
                    to="/"
                    label="Placing"
                />
                <q-route-tab
                    name="profile"
                    to="/profile"
                    label="Profile"
                />
                <q-route-tab
                    name="admin"
                    to="/admin"
                    label="Admin"
                />
            </q-tabs>

            <q-toggle
                v-model="isDarkMode"
                style="margin-right: 10px;"
                checked-icon="nightlight_round"
                unchecked-icon="wb_sunny"
                color="black"
                @update:model-value="toggleDarkMode"
            />

            <div v-if="isConnected">
                <q-btn
                    class="bg-primary text-white shadow-2"
                    style="width: 160px"
                    :label="shortUserAddress"
                    icon="account_balance_wallet"
                    rounded
                    no-caps
                >
                    <q-menu>
                        <q-list style="min-width: 100px">
                            <q-item>
                                <q-item-section>Wallet: <b>{{ userAddress }}</b></q-item-section>
                            </q-item>
                            <q-item
                                v-close-popup
                                clickable
                                @click="disconnectWallet"
                            >
                                <q-item-section>Disconnect wallet</q-item-section>
                            </q-item>
                        </q-list>
                    </q-menu>
                </q-btn>
            </div>
            <div v-if="!isConnected">
                <q-btn
                    class="bg-primary text-white shadow-2"
                    rounded
                    :disable="!init"
                    :loading="!init"
                    @click="connectWallet"
                >
                    Connect wallet
                </q-btn>
            </div>
        </q-toolbar>
    </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import { Dark  } from 'quasar';

export default {
    name: 'HeaderContainer',
    data() {
        const isDarkMode = localStorage.isDarkMode === 'true';

        return {
            tab: 'lottery',
            isDarkMode,
        };
    },
    computed: {
        ...mapState(['userAddress', 'init']),
        ...mapGetters(['isConnected']),

        shortUserAddress() {
            return this.userAddress
                ? this.userAddress.substring(0, 4) + '...' + this.userAddress.substring(this.userAddress.length - 4)
                : '';
        },
    },
    created() {
        if (this.isDarkMode) Dark.set(true);
    },
    methods: {
        ...mapActions(['connectWallet', 'disconnectWallet']),

        toggleDarkMode(v) {
            Dark.set(v);
            localStorage.isDarkMode = v;
        },
    },
};
</script>

<style scoped></style>
