<template>
    <q-form
        class="base"
    >
        <q-select
            v-model="tokenName"
            outlined
            :options="pairOptions"
            :disable="!hasContractsData"
            :loading="!hasContractsData"
            label="Choose Token"
            emit-value
            style="margin-bottom: 25px"
        />

        <div>
            <q-input
                v-model="randomNumberSource"
                outlined
                label="Enter random number source"
                :disable="!hasContractsData"
                :loading="!hasContractsData"
                style="margin-bottom: 10px"
            />

            <q-btn
                color="primary"
                :disable="!hasContractsData"
                :loading="!hasContractsData"
                style="margin-bottom: 25px"
                @click="updateRNGSource"
            >
                Update random nubmer source
            </q-btn>
        </div>

        <div>
            <q-input
                v-model="newRoundTimeframe"
                outlined
                label="Enter new round time frame"
                :disable="!hasContractsData"
                :loading="!hasContractsData"
                style="margin-bottom: 10px"
            />

            <q-btn
                color="primary"
                style="margin-bottom: 10px"
                :disable="!hasContractsData"
                :loading="!hasContractsData"
                @click="updateNewRoundTimeframe"
            >
                Update new round time frame
            </q-btn>

            <q-input
                v-model="rewarder"
                outlined
                label="Enter new rewarder contract"
                :disable="!hasContractsData"
                :loading="!hasContractsData"
                style="margin-bottom: 10px"
            />
            <q-btn
                color="primary"
                style="margin-bottom: 10px"
                :disable="!hasContractsData"
                :loading="!hasContractsData"
                @click="setRewarder"
            >
                Update rewarder
            </q-btn>
        </div>
    </q-form>
</template>

<script lang="ts">
import { ref, computed, defineComponent } from 'vue';
import { useStore } from 'vuex';
import { loto } from '../store/store';

export default defineComponent({
    // eslint-disable-next-line max-lines-per-function
    setup() {
        const pairOptions = [
            { value: 'AAA', label: 'AAA Token' },
            { value: 'BBB', label: 'BBB Token' },
        ];

        const tokenName = ref('AAA');
        const randomNumberSource = ref('');
        const newRoundTimeframe = ref('');
        const rewarder = ref('');

        const store = useStore();
        const hasContractsData = computed(() => store.getters.hasContractsData);
        const pools = computed(() => store.state.pools);
        const currentPool = computed(() => pools.value && pools.value[tokenName.value]);

        return {
            pairOptions,
            tokenName,
            randomNumberSource,
            newRoundTimeframe,
            rewarder,
            hasContractsData,
            currentPool,
        };
    },
    methods: {
        async updateRNGSource() {
            const value = this.randomNumberSource;


            await loto.draw(this.currentPool);
            console.log('Draw');
            console.log(value);
        },
        async updateNewRoundTimeframe() {
            const value = this.newRoundTimeframe;

            await loto.setRoundTimeframe(this.currentPool);
            console.log('Timeframe updated');
            console.log(value);
        },
        async setRewarder() {
            const rewarder = this.rewarder;

            await loto.setRewarder(this.currentPool, rewarder);
            console.log('Rewarder set');
        },
    },
});
</script>

<style>
</style>
