<template>
    <q-form
        ref="myForm"
        class="base"
    >
        <q-linear-progress
            size="35px"
            :value="progress"
            class="bg-secondary"
            style="margin-bottom: 10px"
        >
            <div class="absolute-full flex flex-center">
                <q-badge
                    color="black"
                    text-color="white"
                    :label="progressLabel"
                />
            </div>
        </q-linear-progress>

        <div>
            <div>Token contract: <b v-if="currentTokenContract">{{ currentTokenContract }}</b></div>
            <div>Farm contract: <b v-if="currentDexContract">{{ currentDexContract }}</b></div>
            <div>Pool contract: <b v-if="currentPoolContract">{{ currentPoolContract }}</b></div>
        </div>

        <q-tabs
            v-model="tab"
            align="justify"
            class="bg-primary text-white shadow-2"
        >
            <q-tab
                name="place"
                label="place"
                animated
            />
            <q-tab
                name="withdraw"
                label="withdraw"
                animated
            />
        </q-tabs>
        <q-tabs
            v-model="assetsTab"
            align="justify"
            class="bg-secondary text-white shadow-2"
        >
            <q-tab
                name="shares"
                label="Shares"
                animated
            />
            <q-tab
                v-if="isPlaceTab"
                name="teztok"
                label="XTZ & Token"
                animated
            />
        </q-tabs>

        <q-select
            v-model="pairToken"
            style="display: block; width: 150px; margin: 10px auto 10px 0;"
            outlined
            :options="pairOptions"
            :disable="!hasContractsData"
            :loading="!hasContractsData"
            label="Choose Token"
            emit-value
            @update:model-value="changePair(tezAmount)"
        />

        <q-input
            v-model="pairAmount"
            style="margin-bottom: 10px"
            :label="inputPairLabel"
            :rules="[isCorrectNumber]"
            debounce="500"
            outlined
            bottom-slots
            :disable="!hasContractsData"
            :loading="!hasContractsData"
            @update:model-value="changeTez($event)"
        >
            <template #hint>
                <div v-if="balance && isPlaceTab">
                    Your {{ pairToken.startsWith('XTZ_') ? 'LP Share' : pairToken }} balance: <b
                        class="underline"
                        @click="setPair(balance[pairToken])"
                    >{{ balance[pairToken] }}</b>
                </div>
                <div v-if="balance && isPlaceTab && isSharesTab">
                    Your XTZ balance: <b>{{ balance.XTZ }}</b>
                </div>
                <div v-if="balance && !isPlaceTab">
                    Your shares in pool: <b
                        class="underline"
                        @click="setShares(balance[`POOL_${pairToken}`])"
                    >{{ balance[`POOL_${pairToken}`] }}</b>
                </div>
            </template>
        </q-input>

        <q-input
            v-if="!isSharesTab"
            v-model="tezAmount"
            style="margin-bottom: 0 !important;"
            label="Amount of XTZ"
            :rules="[isCorrectNumber]"
            debounce="500"
            outlined
            bottom-slots
            :disable="!hasContractsData"
            :loading="!hasContractsData"
            @update:model-value="changePair($event)"
        >
            <template #hint>
                <div v-if="balance && isPlaceTab">
                    Your XTZ balance: <b
                        class="underline"
                        @click="setTez(balance.XTZ)"
                    >{{ balance.XTZ }}</b>
                </div>
            </template>
        </q-input>

        <div style="margin-top: 30px">
            <q-btn
                v-if="isPlaceTab"
                color="primary"
                :disable="!hasContractsData"
                :loading="!hasContractsData"
                @click="askConfirm"
            >
                Enter the pool
            </q-btn>

            <q-btn
                v-if="!isPlaceTab"
                color="primary"
                :disable="!hasContractsData"
                :loading="!hasContractsData"
                @click="askConfirm"
            >
                Withdraw
            </q-btn>
        </div>

        <q-dialog v-model="showDialog">
            <q-card>
                <q-card-section>
                    <div>{{ dialogActionTitle }}</div>
                    <div>{{ pairToken }}: <b>{{ pairAmount }}</b></div>
                    <div v-if="isPlaceTab && assetsTab === 'teztok'">XTZ: <b>{{ tezAmount }}</b></div>
                </q-card-section>

                <q-card-actions align="right">
                    <q-btn
                        v-close-popup
                        label="Cancel"
                        color="primary"
                    />
                    <q-btn
                        v-if="isPlaceTab"
                        v-close-popup
                        label="Place"
                        color="primary"
                        @click="enterPool"
                    />
                    <q-btn
                        v-if="!isPlaceTab"
                        v-close-popup
                        label="Withdraw"
                        color="primary"
                        @click="withdraw"
                    />
                </q-card-actions>
            </q-card>
        </q-dialog>
    </q-form>
</template>

<script lang="ts">
import { ref, computed, defineComponent, watch } from 'vue';
import { useStore } from 'vuex';
import BigNumber from 'bignumber.js';
import { estimateTezInToken, estimateTokenInTez } from '@quipuswap/sdk';
// import { useQuasar } from 'quasar';
import { MILLION } from '../config';

export default defineComponent({
    // eslint-disable-next-line max-lines-per-function
    setup() {
        const tab = ref('place');
        const assetsTab = ref('shares');
        const isPlaceTab = computed(() => tab.value === 'place');
        const isSharesTab = computed(() => assetsTab.value === 'shares');

        const tezAmount = ref('0');
        const pairAmount = ref('0');
        const pairToken = ref('XTZ_AAA');
        const pairOptions = computed(() => {
            const tokensArr = [
                { value: 'AAA', label: 'AAA Token' },
                { value: 'BBB', label: 'BBB Token' },
            ];
            const sharesArr = [
                { value: 'XTZ_AAA', label: 'Quipu shares on XTZ/AAA DEX' },
                { value: 'XTZ_BBB', label: 'Quipu shares on XTZ/BBB DEX' },
            ];

            return isSharesTab.value ? sharesArr : tokensArr;
        });

        watch(pairOptions, (v) => { pairToken.value = v[0].value; });
        watch(isPlaceTab, (v) => { if (!v) assetsTab.value = 'shares'; });
        watch(isSharesTab, (v) => { v ? tezAmount.value = '0' : pairAmount.value = '0'; });

        const inputPairLabel = computed(() => 'Amount of ' + pairToken.value);

        const store = useStore();
        const balance = computed(() => store.state.balance);
        const dexes = computed(() => store.state.dexes);
        const pools = computed(() => store.state.pools);
        const hasContractsData = computed(() => store.getters.hasContractsData);

        const progress = computed(() => {
            if (!pools.value) return 0;

            const roundStart = new Date(pools.value[pairToken.value].storage.storage.round_start);
            const timeframe = pools.value[pairToken.value].storage.storage.round_timeframe;
            const diff = (Date.now() - roundStart.getTime()) / 1000;

            return Math.min(diff / timeframe, 1);
        });
        const progressLabel = computed(() => `Current round progress: ${(progress.value * 100).toFixed(2) + '%'}`);

        const showDialog = ref(false);
        const dialogActionTitle = computed(() => isPlaceTab.value
            ? 'You are about to place in the pool:'
            : 'You are about to withdraw from the pool:'
        );

        const currentTokenContract = computed(() => store.state.config.app.tickerToToken[pairToken.value].contract);
        const currentDexContract = computed(() => dexes.value && dexes.value[pairToken.value].contract.address);
        const currentPoolContract = computed(() => pools.value && pools.value[pairToken.value].contract.address);

        return {
            tab,
            assetsTab,
            isPlaceTab,
            isSharesTab,

            tezAmount,

            pairAmount,
            pairToken,
            pairOptions,
            inputPairLabel,

            store,
            balance,
            dexes,
            pools,
            hasContractsData,

            showDialog,
            dialogActionTitle,
            currentTokenContract,
            currentDexContract,
            currentPoolContract,

            progress,
            progressLabel,
        };
    },
    methods: {
        isCorrectNumber(v: string) {
            const num = new BigNumber(v);

            return num && num.isGreaterThanOrEqualTo(new BigNumber(0)) || 'Please enter correct number';
        },
        askConfirm() {
            const form: any = this.$refs.myForm;

            form.validate()
                .then((success: boolean) => {
                    if (success) this.showDialog = true;
                });
        },
        enterPool() {
            this.store.dispatch('enterPool', { XTZ: this.tezAmount, [this.pairToken]: this.pairAmount })
                .then(() => {
                    console.log('poolEntered');

                    this.tezAmount = '0';
                    this.pairAmount = '0';
                }).catch((e) => {
                    console.error(e);
                });
        },
        withdraw() {
            this.store.dispatch('withdraw', { XTZ: this.tezAmount, [this.pairToken]: this.pairAmount })
                .then(() => {
                    console.log('Withdrawed');
                })
                .catch((e) => {
                    console.error(e);
                });
        },
        setShares(v: number) {
            this.pairAmount = v + '';
        },
        setTez(v: string) {
            this.tezAmount = v + '';

            this.changePair(v);
        },
        setPair(v: string) {
            this.pairAmount = v + '';

            this.changeTez(v);
        },
        changeTez(v: string | number | null) {
            if (this.isSharesTab) return;

            const val = v === null ? 0 : v;
            const dex = this.dexes[this.pairToken];

            this.tezAmount = estimateTezInToken(dex.storage, new BigNumber(val).integerValue())
                .div(MILLION).toString();
        },
        changePair(v: string | number | null) {
            if (this.isSharesTab) return;

            const val = v === null ? 0 : v;
            const dex = this.dexes[this.pairToken];
            const bigTez = new BigNumber(val).times(MILLION).times(MILLION);
            const bigPair = estimateTokenInTez(dex.storage, bigTez.integerValue());
            
            // разрешаем на +1 токен больше, иначе будет ошибка декса dex/low-max-in, говорящая о том, что мы мало разрешили
            this.pairAmount = bigPair.idiv(MILLION).plus(1).toString();
        },
    },
});
</script>

<style>
.base {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin-top: 100px;
}
.underline {
    text-decoration: underline;
}
.underline:hover {
    cursor: pointer;
}
</style>
