<template>
    <q-table
        style="min-width: 900px"
        title="Pools"
        :rows="rows"
        :columns="columns"
        :loading="isConnected && !totals"
        separator="cell"
        color="primary"
        row-key="name"
    >
        <template
            v-if="hasContractsData"
            #top
        >
            Totals
            <!-- <span style="padding-left: 5em">Total shares in pools: <b> {{ amountInPool }} </b></span> -->
            <span style="padding-left: 3em">Entered pools: <b> {{ enteredPools }} </b></span>
            <span
                style="padding-left: 3em;padding-right: 3em"
            > Reward: <b
                :class="rewardColor"
            > {{ winAmount }} XTZ</b></span>
            <q-btn
                v-if="hasReward"
                color="primary"
                :disable="!hasContractsData"
                :loading="!hasContractsData"
                @click="withdrawRewards()"
            >
                Withdraw all rewards
            </q-btn>
        </template>
    </q-table>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';
import { getTotals, mapUserDataToRows } from '../helpers';
import { columns } from '../config';
import { delay } from '../store/store';
import { IApp } from '../types';

export default defineComponent({
    setup() {
        const store = useStore<IApp>();
        const isConnected = computed(() => store.getters.isConnected);
        const userData = computed(() => store.state.userData);
        const hasContractsData = computed(() => store.getters.hasContractsData && userData.value);
        const pools = computed(() => store.state.pools);
        // const currentPoolContract = computed(() => pools.value && pools.value[pairToken.value].contract.address);

        const totals = computed(() => userData.value && getTotals(userData.value));
        const tickers = computed(() => {
            if (!pools.value) return [];

            return Object.keys(pools.value);
        });
        const filtered = computed(() => {
            if(!tickers.value) return [];

            return tickers.value.filter((t: string) => !t.startsWith('XTZ_')).sort();
        });
        // const rows = ref<any[]>([]);
        const rows = computed(() => {
            if (!filtered.value || !userData.value || !pools.value) return [];

            return filtered.value.map((t: string) => mapUserDataToRows(userData, t, pools)).filter((i) => !!i);
        });

        const winAmount = computed(() => totals.value?.rew);
        const amountInPool = computed(() => totals.value?.inPool);
        const enteredPools = computed(() => totals.value?.enteredPools);
        const hasReward = computed(() => winAmount.value && +winAmount.value);
        const rewardColor = computed(() => hasReward.value ? 'green' : 'red');

        return {
            isConnected,
            totals,
            winAmount,
            amountInPool,
            enteredPools,
            hasContractsData,
            rewardColor,
            // pairToken,
            // pairOptions,
            userData,
            pools,
            columns,
            rows,
            hasReward,
        };
    },
    methods: {
        async withdrawRewards() {
            if (!this.pools || !this.userData) return;

            const p: any[] = [];

            Object.keys(this.pools).forEach(t => {
                if (!this.pools || !this.userData) return;

                const v = this.userData[t].reward;

                if (t.startsWith('XTZ_') || v.isZero()) p.push(this.pools[t]);
            });

            // const op = await loto.withdrawRewards(p);

            // await op.confirmation();
            await delay(500);// TODO: награды забираются теперь из 1 отдельного контракта, сделаю потом

            console.log('Rewards withdrawn!');
        },
    },
});
</script>


<style>
.red {
    color: red;
}
.green {
    color: green;
}
</style>
