<template>
    <main-container>
        <main-header />

        <router-view />
    </main-container>
</template>

<script lang="ts">
import MainContainer from './containers/mainContainer.vue';
import HeaderContainer from './containers/header.vue';
import { useStore } from 'vuex';

export default {
    components: {
        'main-container': MainContainer,
        'main-header'   : HeaderContainer,
    },
    setup() {
        const store = useStore();

        store.dispatch('init');
    },
};
</script>

<style>
</style>
